<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>E-mail</th>
      <th>Idade</th>
      <th>Nº de inscritos</th>
      <th>@ Canal</th>
      <th>Plataforma</th>
      <th>Categoria</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let influencer of filteredInfluencers">
      <td>{{influencer?.name}}</td>
      <td>{{influencer?.email}}</td>
      <td>{{influencer?.age}}</td>
      <td>{{influencer?.subscribers}}</td>
      <td>{{influencer?.at_channel}}</td>
      <td>{{influencer?.platform}}</td>
      <td>{{influencer?.category}}</td>

      <td *ngIf="user?.authorized">
        <img src="../../../assets/pencil.png" alt="pencil" (click)="handleGoToEditInfluencer(influencer?.id)">
      </td>

      <td *ngIf="user?.authorized" (click)="handleGoToDeleteInfluencer(influencer?.id)">
        <img src="../../../assets/trash.png" alt="trash">
      </td>
    </tr>

  </tbody>
</table>