<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>E-mail</th>
      <th>Idade</th>
      <th>Nº de inscritos</th>
      <th>@ Canal</th>
      <th>Plataform</th>
      <th>Categoria</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Pato</td>
      <td>pato@pato.com</td>
      <td>30</td>
      <td>400 mil</td>
      <td>@patop</td>
      <td>youtube</td>
      <td>games</td>
      <td>
        <img src="../../../assets/pencil.png" alt="pencil">
      </td>
      <td>
        <img src="../../../assets/trash.png" alt="trash">
      </td>
    </tr>

  </tbody>
</table>