input[type="email"] {
  margin-top: 10px;
}

.container-password {
  margin: 10px 0;
}

.container-radio {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 30px;
}

.container-radio div {
  display: flex;
  align-items: center;
  gap: 10px;
}

form input[type="radio"] {
  width: 15px;
  height: 15px;
}