<form (submit)="handleFormLogin()">
  <h2>Login</h2>

  <input [(ngModel)]="formLogin.email" type="email" name="email" placeholder="E-mail">

  <div class="container-password">
    <input [(ngModel)]="formLogin.password" type="{{!show ? 'password' : 'text'}}" name="password" placeholder="Senha">

    <img *ngIf="!show" src="../../../assets/close-eye.svg" alt="close-eye" (click)="showPassword()">

    <img *ngIf="show" src="../../../assets/open-eye.svg" alt="open-eye" (click)="showPassword()">
  </div>

  <button class="login-button">
    ENTRAR
  </button>

  <p>
    Cadastrar novo usuário? <span (click)="handleGoToSignUp()">Clique aqui!</span>
  </p>
</form>