<main class="generic-main">
  <app-lateral-bar [user]="user" [currentPage]="currentPage"></app-lateral-bar>
  <div class="container-table fade-in-left">
    <div class="container-table-filter">
      <div class="content-filter">
        <input [(ngModel)]="search" type="text" placeholder="Buscar influencer..." autofocus>
        <div class="category-filter">
          <select name="category" [(ngModel)]="searchCategory">
            <option value="">Categorias</option>
            <option *ngFor="let category of categories" value={{category.category}}>
              {{category.category}}
            </option>
          </select>
        </div>
      </div>
      <div class="content-table">
        <app-table-influencers [token]="token" [user]="user" [influencers]="influencers"
          [filteredInfluencers]="filteredInfluencers"></app-table-influencers>
      </div>
    </div>
  </div>
</main>