<main>
  <div class="content-lateral-bar">
    <div class="lateral-bar">
      <h2>Olá, Lucas!</h2>
      <div class="line">
      </div>
      <nav class="menu">
        <ul>
          <li class="current-page">
            <img src="../../../assets/home-blue.svg" alt="home">
            <p>Home</p>
          </li>
          <li class="selecting">
            <img src="../../../assets/more-blue.svg" alt="add">
            <p>Adicionar influencer</p>
          </li>
        </ul>
      </nav>
    </div>
    <div class="container-logout selecting">
      <img src="../../../assets/logout.png" alt="logout">
      <p>Logout</p>
    </div>
  </div>

  <div class="container-table fade-in-left">
    <div class="container-table-filter">

      <div class="content-filter">
        <input autofocus type="text" placeholder="Buscar influencer...">
      </div>

      <div class="content-table">
        <app-table-influencers></app-table-influencers>
      </div>

    </div>
  </div>
</main>