@import url("app/shared/animations.css");
@import ' ngx-toastr/toastr ';

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  min-height: 100vh;
}

body {
  font-family: 'Roboto';
  font-size: 1.6rem;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: #D9DBEF;
  border-radius: 15px;
}

::-webkit-scrollbar-thumb {
  background-color: #2861FD;
  border-radius: 15px;
}