@import url("app/shared/animations.css");

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  min-height: 100vh;
}

body {
  font-family: 'Roboto';
  font-size: 1.6rem;
}